*{

	padding:0;
	margin:0;
	box-sizing:border-box;

}


a{
	text-decoration: none;
	
}
.cta{
	display:inline-block;
	align-items: center;
	position: relative;
	padding: 12px 25px;
    color: white;
    border: 2px solid white;
	background-color: transparent;
	font-size: 1rem;
	margin-top: 40px;
	margin-left: 60px;
	border-radius: 30px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .1rem;
	transition: .3s ease background-color;

}
.cta:hover{
	color: white;
	background-color:rgb(230, 242, 255 ,.3);
}
.container{
	min-height: 100vh;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
}


.vl {
  border-left: 6px solid rgba(255,255,255);
  border-radius: 2px;
  position: absolute;
  top:40%;
  height: 20%;
  left:65px;
  
}
  .v2 {
  border-left: 3px solid rgba(255,255,255,0.8);
  border-radius: 2px;
  position: absolute;
  left:66.4px;
  top: 50%;
  height:25%;
  
   
}
.section-tittle{
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	font-size: 430%;
	font-family: 'Bebas Neue', cursive;
	position: relative;
	
}


.section-tittle-2{
	position: relative;
	/*margin-left:22vw;*/
   /* margin-top: 3vh;*/
	text-align: center;
	top:-120px;
	font-size: 800%;
	font-weight:400;
	text-transform: uppercase;
	color:white;
	opacity: 21%;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: .1rem;
}

h2{
	padding-top:40px;
}

#nits .col-right{
	align-items: center;
	position: relative;
 
}
#nits .col-right p{
	color:white;
	text-align: left;
	position: relative;
	margin-left: 250px;
    align-items: center;
    padding-right: 70px;
    font-family: 'Roboto', sans-serif;
	letter-spacing: .1rem;
	font-size: 1.2rem;


}
#nits .col-left{
	align-items: center;
	position: relative;
	left:130px;
	top:-35px;
	
}


#nits .nits{
	display: flex;
	flex-direction: row;
	text-align: center;
	

}


#nits{
	background-image: url(final-vid.jpeg);
	background-size:cover;
	background-position: center;
	position: relative;
	z-index: 1;

}
#nits::after{
	content: '';
	position:absolute;
	left:0;
	top:25%;
    height: 75%;
	width:33%;
	background-color:rgb(255, 255, 255);
	opacity: .2;
	z-index:-1;


}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  

}

a:hover {
  background-color: rgb(230, 242, 255 ,.2);
  color: white;
}

.previous {
  background-color: transparent;
  color: white;
  font-size: 1rem;
 
}

.next {
  background-color: transparent;
  color: white;
  margin-right: 10px;
  margin-left: 110px;
  font-size: 1rem;
  
}

.round {
  border-radius: 50%;
}

@media only screen and (max-width:760px ){
	
	#nits .nits{

	flex-direction: column;
	text-align: center;
    margin: 0 auto;
	background-size:cover;
	background-position: center;
	position: relative;
	padding: 100px 0;
	

}
#nits .section-tittle-2{
	font-size: 600%;
	position: relative;
	top:-110px;


}
 #nits .col-right p{
 	margin-left: 0px;
 	padding-right:  0px;
 	align-items: center;
 	text-align: center;

 }
 #nits .col-left{
 	left:0;
 	padding: 0 auto;
 }
 #nits .col-left video{
 	width: 300px;
 	height: 300px;
 }
 #nits .col-left .next{
 	margin-right:30px;
 	margin-left: 0
 }

}
@media only screen and (max-width: 300px){
	#nits .section-tittle-2{
		top:-290px;
	}

	 #nits .col-left video{
 	width: 200px;
 	height: 200px;
   }
   

}
